.canvas {
    position: absolute;
    inset: 0;
}

.card-container {
    /* 0,0 coordinate to center of screen for easy spring animation */
    position: absolute;
    will-change: transform;
    touch-action: none;
}