.card {
    touch-action: none;
    position: relative;
    transform-style: preserve-3d;
    border-radius: 10px;
    will-change: box-shadow, transform;
    transition: box-shadow 0.5s ease;
}

.card > div {
    border-radius: 10px;
    position: absolute;
    inset: 0;
    backface-visibility: hidden;
    background-color: #EEE;
}

.card > div:first-of-type {
    transform: rotateY(180deg);
}

.card--face {
    background-size: auto 85%;
    background-repeat: no-repeat;
    background-position: center center;
}

/** https://fffuel.co/nnnoise/ */